@import 'bootstrap/dist/css/bootstrap.min.css';
*{
    font-family: Raleway;
    font-size: 13.75px;
}

.card {
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}

input{
    padding: 10px !important;
}

.active-link{
    border-bottom: 3px solid green;
    background-color: rgba(211, 211, 211, 0.438);
}

.right{
    position: fixed;
    right: 0;
}

.small{
    font-size:10px !important;
}

.sticky{
    position: sticky;
    top: 100px;
}

