@import 'bootstrap/dist/css/bootstrap.min.css';
*{
    font-family: Raleway;
    font-weight: 400;
    font-size: 14px;
}

.card {
    min-height: 100px; 
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}
