@import 'bootstrap/dist/css/bootstrap.min.css';
*{
    font-family: Raleway;
    font-size: 13px;
}

.card {
    min-height: 100px;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
}

input{
    padding: 10px !important;
}
